@model Kopis_Showcase.Models.Person

@{
    Layout = "_Layout";
}


    <div>
        <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        <hr />
        <div class="row">
            <div class="col-sm-12 gutters">
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-5">
                        <p class="col" >
                            @Html.DisplayNameFor(model => model.Gender)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.Gender.GenderName)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.MaritalStatus)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.MaritalStatus.MaritalStatusName)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.EmailAddress)
                        </p>

                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.StreetAddressLine1)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.StreetAddressLine1)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.StreetAddressLine2)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.StreetAddressLine2)
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.City)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.City)
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.State)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.State)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <p class="col">
                            @Html.DisplayNameFor(model => model.Zip)
                        </p>
                        <p class="col">
                            @Html.DisplayFor(model => model.Zip)
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a asp-action="Edit" asp-route-id="@Model.PersonID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.PersonID">Delete</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
